/**
 * Tag line
 */
.GsmTagLine {}

.GsmTagLine-icon {}
.GsmTagLine--noTags .GsmTagLine-icon { opacity: 0.5; }

.GsmTagLine-tags {
	display: inline-block;
	min-width: 20%;
	cursor: pointer;
}
.GsmTagLine-tags:hover { text-decoration: underline; }
.GsmTagLine.-is-editing .GsmTagLine-tags { display: none; }
.GsmTagLine--noTags .GsmTagLine-tags { opacity: 0.5; }

.GsmTagLine-tagsInput {
	display: none;
	min-width: 50%;
}
.GsmTagLine.-is-editing .GsmTagLine-tagsInput { display: inline-block; }
