/**
 * Tag line
 */
.GsmTagLine { position: relative; }

.GsmTagLine-icon { color: currentColor; }
.GsmTagLine--noTags .GsmTagLine-icon { opacity: 0.35; }
.GsmTagLine.-is-editing .GsmTagLine-icon {
	position: absolute;
	top: 7px;
	left: 7px;
}

.GsmTagLine-tags {}
.GsmTagLine.-is-editing .GsmTagLine-tags { display: none; }
.GsmTagLine--noTags .GsmTagLine-tags { opacity: 0.35; }

.GsmTagLine-separator { opacity: 0.35; }
.GsmTagLine.-is-editing .GsmTagLine-separator { display: none; }

.GsmTagLine-editButton {
	padding: 0.5em;
	position: relative;
	margin: -0.5em;

	background-color: transparent;
	border: none;
	opacity: 0.35;
	outline: none;

	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
}
.GsmTagLine-editButton:hover,
.GsmTagLine-editButton:focus { opacity: 1; }
.GsmTagLine.-is-editing .GsmTagLine-editButton { display: none; }

.GsmTagLine-tagsInput {
	display: none;
	width: 400px;
	padding-left: 25px !important;
}
.GsmTagLine.-is-editing .GsmTagLine-tagsInput { display: inline-block; }
