/**
 * Tag sidebar
 */
.GsmTagSidebar {}

.GsmTagSidebar h3 .count {
	float: right;
	margin-right: 10px;
}

.GsmTagSidebar-noTagsMessage { margin-bottom: 15px !important; }
.GsmTagSidebar-noTagsMessage:hover {
	background-color: transparent !important;
	cursor: auto;
}

.GsmTagSidebar-tagList {
	max-height: 19.2em;
	overflow: auto;
}
.GsmTagSidebar-tagList > li:last-child { margin-bottom: 15px; }

.GsmTagSidebar-tagList + hr { margin-top: 0; }

.GsmTagSidebar-label {
	font-size: inherit;
	font-weight: inherit;
}

.GsmTagSidebar-checkbox {
	display: none;
}



/**
 * Repo list
 */
.GsmRepoList {
	display: none;
	list-style: none;
}

.GsmRepoList-item {
	display: block;
	padding: 4px 10px;

	margin: 0 0 2px;

	font-size: 12px;
}

.GsmRepoList-item a {
	display: block;

	/* derived from github's 1/4th column width: 230px - 10px (padding-left) - 10px (padding-right) */
	max-width: 210px !important;
}

.GsmTagSidebar-checkbox:checked + .GsmRepoList {
	display: block;
}
