/**
 * Tag sidebar
 */
.GsmTagSidebar {}

.GsmTagSidebar-noTagsMessage {}
.GsmTagSidebar-noTagsMessage:hover {
	background-color: transparent !important;
	cursor: auto;
}

.GsmTagSidebar-label {
	font-size: inherit;
	font-weight: inherit;
}

.GsmTagSidebar-checkbox {
	display: none;
}



/**
 * Repo list
 */
.GsmRepoList {
	display: none;
	list-style: none;
}

.GsmRepoList-item {
	display: block;
	padding: 4px 10px;

	margin: 0 0 2px;

	font-size: 12px;

	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.GsmRepoList-item a {
	display: block;
}

.GsmTagSidebar-checkbox:checked + .GsmRepoList {
	display: block;
}
